@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: hsl(
      var(--background)
    ); /* Use a variable or Tailwind color */
  }

  body {
    background-color: #000000; /* override the background color */
    color: hsl(var(--foreground)); /*tailwind color */
  }
}

html {
  scroll-behavior: smooth;
}

.container {
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Add arrow styles */
.arrow-line-vertical {
  position: absolute;
  width: 2px;
  background-color: white;
}

.arrow-line-horizontal {
  position: absolute;
  height: 2px;
  background-color: white;
}
